@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:has(.requires-no-scroll) {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor_pointer {
  cursor: pointer;
}

@media (max-width: 1800px) {
  #root {
    zoom: 0.85;
  }
}

@media (max-width: 1700px) {
  #root {
    zoom: 0.80;
  }
}

@media (max-width: 1500px) {
  #root {
    zoom: 0.7;
  }
}

@media (max-width: 1400px) {
  #root {
    zoom: 0.65;
  }
}
