
.login {
  font-family: Arial, sans-serif;
 overflow: hidden; 
}


.login input:focus {
  outline: none;
}

.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden; 
}

.login .login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  margin-top: -100px;
  text-align: center;
}

.login .login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.login .form-group {
  margin-bottom: 15px;
}

.login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.login input:focus {
  border-color: #007bff;
}

.login button {
  background-color: #ddb438;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 0;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 17px !important;
}

.login button:hover {
  background-color: #372e17;
}
