# Port number
PORT=3000

# Environment
NODE_ENV=

# URL of the Mongo DB
MONGODB_URL=#

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# if remember me is selected then 6 months 
JwT_REMEMBER_ME_ACCESS_EXPIRATION_MINUTES=262800
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
